html {
  font-size: 62.5%;
  height: 100%;
  overflow-y: auto;
}

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, system-ui, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(5, 1fr);
  border: 1px rgb(255, 0, 0) solid;
}
/* header section*/
.header {
  display: grid;
  grid-auto-flow: column;
  background-color: aliceblue;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  grid-template-rows: auto auto;
  gap: 1.5rem;
}
.header-images {
  height: clamp(20px, 1vw + 3rem, 44px);
}
.header-top {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1.5rem;
}
.search-bar,
.username-bar {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  vertical-align: middle;
  grid-template-columns: repeat(auto-fit, 1fr);
  /* border: 1px black solid; */
}
.input {
  height: 1rem;
  width: clamp(1rem, 20vw, 40rem);
  border-radius: 25px;
  padding: 0.5rem;
  font-size: larger;
  font-weight: bold;
  margin-right: 3rem;
}
.search {
  margin-left: 1.5rem;
  height: 3rem;
  width: 3rem;
  /* border: 
  1px black solid; */
}
.username-bar {
  justify-content: end;
  margin-right: 4rem;
}
.username {
  font-weight: bolder;
  font-size: clamp(1rem, 1vw + 1.5rem, 24px);
  margin-right: 2rem;
}
.username-icon {
  height: 4rem;
  width: 4rem;
  margin-right: 1.5rem;
}
.notis {
  margin-right: 2rem;
  height: 3rem;
  width: 3rem;
}
.header-bottom {
  display: grid;
  grid-auto-flow: column;
  /* border: 1px black solid; */
}
.welcome {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  margin-left: 4rem;
}
.username-image {
  height: 8rem;
  width: 8rem;
}
.text {
  font-size: clamp(6px, 1vw + 0.5rem, 16px);
  font-weight: bolder;
  margin-left: 1rem;
}
.username-icon {
  vertical-align: middle;
}
.create-bar {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.8rem;
  margin-right: 4rem;
}
.create-buttons {
  background-color: rgb(42, 70, 255);
  padding: 0.4rem;
  max-width: 12rem;
  border-radius: 25px;
  font-weight: bolder;
  color: white;
  border: 0.5px black solid;
}
/* sidebar section */
.sidebar {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  background-color: rgb(42, 70, 255);
  color: white;
  justify-content: center;
  grid-row: 1 / -1;
  font-weight: bolder;
  border-right: 3px solid grey;
  height: 100%;
}
.dashboard {
  display: grid;
  font-size: clamp(14px, 1.2vw + 2rem, 44px);
  row-gap: 2rem;
}
#dashboard-image {
  vertical-align: middle;
  width: 8rem;
  height: 8rem;
  margin-top: 2rem;
  background-color: transparent;
}
.sidebar-links-container,
.sidebar-footer-links {
  margin-bottom: 3rem;
  font-size: clamp(7px, 1.2vw + 1rem, 24px);
}
.sidebar-links {
  display: grid;
  grid-template-rows: repeat(auto-fll, minmax(50px, 1fr));
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 8px;
}
.sidebar-images {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  background-color: white;
  padding: 0.2rem;
  border-radius: 2.5px;
  /* border: 1px black solid; */
}
.sidebar-footer-links {
  margin-bottom: 6rem;
  margin-top: 0;
}
/* main section */
.main {
  grid-row: 2 / -1;
  background-color: rgb(217, 217, 218);
  display: grid;
  grid-template-columns: 1fr 1fr 0.8fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-template-areas:
    "h h ann"
    "content content trends"
    "f f f";
  gap: 0.8rem;
}
.box-1 {
  grid-area: h;
  /* border: 0.5px black solid; */
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: end;
  padding-left: 1rem;
}
.box-1 > p,
.box-0 > p {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  font-size: clamp(7px, 1.2vw + 2rem, 36px);
  font-weight: bolder;
  /* margin-left: 2vw; */
}
.box-0 {
  grid-area: ann;
  /* border: 0.5px black solid; */
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: end;
}
.box-2 {
  grid-area: content;
  /* border: 0.5px black solid; */
  display: grid;
  grid-template-areas:
    "box1 box2"
    "box3 box4"
    "box5 box6";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 0.8rem;
  padding: 0.5rem 1rem;
}
.contentbox {
  display: grid;
  background-color: aliceblue;
  grid-auto-flow: column;
  height: clamp(8rem, 15rem, 20rem);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.vertical-line {
  height: inherit;
  width: 0.5rem;
  background-color: rgb(42, 70, 255);
}
.content-container {
  display: grid;
}
.content-heading {
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: clamp(4px, 1.2vw + 0.5rem, 24px);
  font-weight: bolder;
  position: sticky;
}
.content-body {
  height: 5rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  overflow: auto;
  scrollbar-width: none;
  font-size: clamp(4px, 1.2vw + 0.1rem, 12px);
  line-height: 1.5;
  letter-spacing: 0.1rem;
  font-weight: bolder;
  opacity: 0.6;
}
.content-icons {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
  margin-right: 1rem;
  gap: 1rem;
  margin-bottom: 1rem;
}
.content-images {
  width: 1.5rem;
  height: 1.5rem;
  /* border: 0.5px black solid; */
}
.box-3 {
  grid-area: trends;
  /* border: 0.5px black solid; */
  margin-right: 0.5rem;
  display: grid;
  grid-template-areas:
    "announcments"
    "trending";
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  row-gap: 1rem;
}
.ann-box {
  grid-area: announcments;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: aliceblue;
}
.anns-heading {
  margin-top: 0.2rem;
  margin-left: 1rem;
  font-size: clamp(4px, 1.2vw + 0.3rem, 12px);
  font-weight: bolder;
  position: sticky;
}
.anns-body {
  height: 3rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  padding-right: 0.3rem;
  overflow: hidden;
  font-size: clamp(4px, 1.2vw + 0.1rem, 10px);
  line-height: 1.5;
  letter-spacing: 0.1rem;
  font-weight: bolder;
  opacity: 0.5;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.trending-box {
  grid-area: trending;
  display: grid;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: aliceblue;
}
.trending-box > p {
  margin-bottom: 0.2rem;
  margin-left: 1rem;
  font-size: clamp(7px, 1.2vw + 1rem, 24px);
  font-weight: bolder;
}
.trends-box {
  grid-area: announcments;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: aliceblue;
}
.trends-heading {
  margin-top: 0.2rem;
  margin-left: 1rem;
  font-size: clamp(4px, 1.2vw + 0.3rem, 12px);
  font-weight: bolder;
  position: sticky;
}
.trends-body {
  height: 3rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  padding-right: 0.3rem;
  overflow: hidden;
  font-size: clamp(4px, 1.2vw + 0.1rem, 10px);
  line-height: 1.5;
  letter-spacing: 0.1rem;
  font-weight: bolder;
  opacity: 0.5;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.box-4 {
  grid-area: f;
}
.seperator-line {
  width: 100%;
  height: 0.3rem;
  background-color: grey;
  opacity: 0.5;
}
